RewriteEngine On

# RewriteRule redirect-test/index.html - [F]
# RewriteRule redirect-test/index.html /apache/redirect-test/tmp.html
# RewriteRule redirect-test/index.html /apache/redirect-test/tmp.html [R]
# RewriteRule redirect-test/imgs/150.jpg /apache/redirect-test/imgs/150.png

# この記載では不十分。
# この書式の状態で、sub1/file.html sub1/file2.htmlにアクセスすると全てsub2（sub2/index.html）へアクセスしてしまうから。
# RewriteRule redirect-test/sub1/ /apache/redirect-test/sub2/

